.p1{
    font-family: Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.vertical-navbar{
    width: 250px;
    color: cream;
    min-height: 100vh;
    padding-top: 20px;
    text-align: center;
    position: fixed;
    background-color: #1f2937;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}



.vertical-navbar nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
}

.vertical-navbar nav ul li{
    margin: 20px 0;
}

.nav-link{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color .3s ease;
}

.nav-link:hover{
    background-color: #374151;
}

.nav-link.active{
    background-color: #111827;
}


.profile-pic{
    padding: 20px;
}
.profile-pic img{
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    display: block;
}
/*
canvas{
    display: block;
    margin: 20px auto;
    width: 100%;
    height: auto;
    border: 0 auto;
    transition: background-color 7s ease;
}

.contain-blocks{
    position: relative;
}
.block1{
    position: relative;
    border: 2px solid black;
    height: 100px;
    margin: 25px;
}

.block2{
    position: absolute;
    background-color: gray;
    height: 55px;
    width: 70%;
    left: 50px;
    top: 50px;
}
    */

section{
    margin-bottom: 80px;
}

section h1{
    font-size: 32px;
    color: #1f2937;
}

section p{
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.highlight {
    background-color: #3366cc;
    color: white;
    padding: 0 10px;
}



.location{
    font-size: 14px;
    color: #776;
    margin-bottom: 20px;
}
.description{
    font-size:18px;
    color: #5f6368;
    max-width: 600px;
    margin-bottom: 20px;
}

.pdf-links a{
    color: #1a73e8;
    font-size: 16px;
    text-decoration: none;
}

.pdf-links a:hover{
    text-decoration: underline;
}
.icons{
    margin-top:15px;
}
.icons img{
    width: 40px;
    margin-right: 10px;
}

hr{
    border: none;
    border-top: 3px solid black;
    margin: 20px 0;
}

.custom-date-color {
    color: #67523c;
  }

.resume-button{
    display:inline-flex;
    align-items: center;
    font-size: 16px;
    color: #1a73e8;
    text-decoration: none;
    background-color: transparent;
    border:none;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 12px;
}

.resume-button .icon{
    margin-left: 6px;
    font-size: 18px;
}

/* 
   Bootstrap Section Styling
                             */

   .resume-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .resume-section p {
    font-size: 16px;
    color: #4a4a4a;
    line-height: 1.6;
    margin: 0 0 1rem 0;
  }
  
  .resume-section h2 {
    font-size: 32px;
    font-weight: 700;
    color: #1f2937;
  }
  
  .resume-section h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }
  
  .resume-section h5 {
    font-size: 16px;
    color: #666;
  }
  
  .resume-section ul {
    margin-top: 1rem;
    padding-left: 1rem;
    list-style-type: disc;
  }
  
  .resume-section ul li {
    margin-bottom: 0.5rem;
    font-size: 16px;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
  }

/*
.section-title{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #2c2c2c;
}

.experience-entry{
    margin-bottom: 50px;
}
.experience-header{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.experience-title{
    font-size: 20px;
    font-weight: 700;
    color: #2c2c2c;
    margin: 0;
}

.experience-date{
    font-size: 14px;
    color: #1a73e8;
    font-weight: 500;
    white-space: no-wrap;
    margin-top: 4px;
}

.experience-details{
    list-style-type: disc;
    margin-left: 20px;
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}
*/


#experience {
    margin-bottom: 1rem; /* or even 0 */
    padding-bottom: 1rem;
}
  
#education {
    margin-top: 0;
    padding-top: 0;
}

.main{
    margin-left:250px;
    padding: 40px;
    width: calc(100% - 250px);
    box-sizing: border-box;
}

@media(max-width: 768px){
    .vertical-navbar{
        position: sticky;
        top: 0;
        z-index: 1000;
        width: 100%;
        min-height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .vertical-navbar ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 0.5rem 0;
        margin: 0;
        position: sticky;
        top:0;
        z-index: 1000;
        background-color: #1f2937;

    }

    .vertical-navbar li{
        margin: 0.5rem;
        list-style: none;
    }

    .main {
        margin-left: 0 !important;
        width: 100% !important;
        padding: 1rem;
    }
}



html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #EDF7D2, #C9C19F, #7D7C7A);
    overscroll-behavior: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}